<!DOCTYPE html>
<html ng-app="gemStore" lang="en">
<head>
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link rel="stylesheet" href="/css/gemstore.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<meta charset="UTF-8">
	<title>Gem Store</title>
</head>
  <body class="container" ng-controller="StoreController as store">
  	<header>
      <h1 class="text-center">Flatlander Crafted Gems</h1>
      <h2 class="text-center">– an Angular store –</h2>
    </header>
    <div class="row" ng-repeat="product in store.products">
      <h3>
         {{ product.name }}
        <em>{{ product.price | currency }}</em>
      </h3>
      <div class="row">
      	<div class="col-md-6">
      		<section ng-show="product.images.length" ng-controller="GalleryController as gallery">
        	<img ng-src="{{product.images[gallery.current]}}" />
        		<ul class="list-inline thumbs">
        		<br>
          			<li class="thumbnail" ng-repeat="image in product.images">
            			<img ng-src="{{image}}" />
          			</li>
        		</ul>
      		</section>
      	</div>
      	<div class="col-md-6">
      		<product-tabs></product-tabs>
      	</div>
      </div>
      <hr>
    </div>
  </body>
	<script type="text/javascript" src="/js/angular.min.js"></script>
	<script type="text/javascript" src="/js/gemStore.js"></script>
	<script type="text/javascript" src="/js/products.js"></script>
</html>