<!DOCTYPE html>
<html ng-app="gemStore" lang="en">
<head>
	<link rel="stylesheet" href="/css/gemstore.css	">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<meta charset="UTF-8">
	<title>Gem Store</title>
</head>
  <body class="container" ng-controller="StoreController as store">
  	<header>
      <h1 class="text-center">Flatlander Crafted Gems</h1>
      <h2 class="text-center">– an Angular store –</h2>
    </header>
    <div class="product row" ng-repeat="product in store.products">
      <h3>
         {{ product.name }}
        <em class="pull-right">{{ product.price | currency }}</em>
      </h3>
      <section ng-show="product.images.length" ng-controller="GalleryController as gallery">
        <img ng-src="{{product.images[gallery.current]}}" />
        <ul class="list-inline thumbs">
          <li class="thumbnail" ng-repeat="image in product.images">
            <img ng-src="{{image}}" />
          </li>
        </ul>
      </section>
      <product-tabs></product-tabs>
      <hr>
    </div>
  </body>
	<script type="text/javascript" src="/js/angular.min.js"></script>
	<script type="text/javascript" src="/js/gemStore.js"></script>
</html>